@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  background-image: url("/background.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Smooth scrolling for anchor links */
html {
  scroll-behavior: smooth;
}

/* Asegurar que las secciones ocupen toda la altura visible */
section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Estilizar la barra de desplazamiento para navegadores webkit */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0e1a36;
}

::-webkit-scrollbar-thumb {
  background: #2a3a5a;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3a4a6a;
}